
.container_confirm{
    margin-left: 17%;
    width: 70%;
    text-align: center;
    margin-top: 100px;
}
.text_thanks{
    color: #f50000;
    margin-bottom: 45px;
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: 500;
}
.btn_Confirm{
    background-color: #f50000!important;
    margin: 20px 0!important;
}